@media (min-width: 769px) {
    .add-update-modal {
        --height: 680px;
    }
}
.task-item {
    --padding-top: 20px;

    ion-avatar {
        width: 70px;
        height: 80px;
        --border-radius: 15px;
    }

    .name {
        font-weight: 600;
        padding-bottom: 5px;
    }

    .option-btn {
        font-size: 27px;
    }
}